@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

#main-box {
    border-bottom: 3px ridge lightslategray;
    border-radius: 4px;
    font: 15px bold;
    margin: 10px 150px 10px 200px;
    width: 900px;
    padding-left: 15px;
    padding-right: 15px;
}

.first-box {
    color: darkgray;
    font-size: 12px;
    line-height: 2em;
}

.project-img-box  img {
    width: 900px;
    height: 500px;
    margin-top: 5px;
    margin-left: 195px;
    object-fit: cover;
    vertical-align: text-bottom;
    border: 3px solid black;
}

.project-heart {
    color: red;
}

.project-heart a{
    color: black;
}

:root {
    --red: rgb(209, 3, 3);
    --white: #fff;
    --black: #000;
}
.btn {
    width: 200px; height: 100px;
    outline: 0;
    border: 2px solid #ccc;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display:flex;
    justify-content: space-between;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.05);
    transition: 1.5s cubic-bezier(.21,.04,.26,.99);
}
.btn:hover {
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
    border-color: var(--red);
}
.btn-like {
    padding: 1.5rem 1.5rem 1.5rem 6rem;
    font-size: 2rem;
    border-radius: 10px;
    background: #fff;
    transition: 1.5s cubic-bezier(.21,.04,.26,.99);
}
.btn-like.liked {
    background: var(--red);
    border-color: var(--red);
}
/*-- Button Icon -- */
.btn-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 1.5rem;
    transition: 1s cubic-bezier(.21,.04,.26,.99);
    transform: rotate(0deg)
}
.btn:hover .btn-icon {
    color: var(--red);
}
.btn.liked:hover .btn-icon {
    color: var(--black);
}
.liked .btn--icon-default {
    transform: rotate(-90deg)
}
.btn:not(.liked).btn--icon-liked {
    transform: rotate(-90deg)
}
.liked .btn--icon-default,
.btn--icon-liked {
    opacity: 0;
    color: #fff;
    position: absolute;
}
.btn--icon-default,
.liked .btn--icon-liked {
    opacity: 1;
    left: 1.5rem;
}
/*-- Button Content -- */
.btn-content {
    transition: transform 0.1s ease;
    display: inline-block;
    /* position: absolute;
    right: 0; */
}
.liked .btn-content {
    color: var(--white);
}
.btn:hover.liked .btn-content {
    color: var(--black);
}
.btn:not(.liked) .btn-content--liked {
    transform: translate(110px)
}
.btn:not(.liked) .btn-content--default {
    transform: translate(-56px)
}
.liked .btn-content--default {
    transform: translate(24px)
}

.project-name {
    margin-left: 200px;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    background-color: rgb(180, 255, 127);
    text-align: center;
    padding-top: 5px;
}